@model IEnumerable<Tarea3.Models.Student>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<p>
    <a asp-action="Add">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Primer Nombre</label>
            </th>
            <th>
                <label>Primer Apellido</label>
            </th>
            <th>
                <label>Estado</label>
            </th>
            <th>
                <label>Carrera</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (item.Status == "1")
                {
                    <lable>Activo</lable>
                }
                else
                {
                    <lable>Inactivo</lable>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareerFkNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
